/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/base/_reset.scss */
html {
  height: 100%;
  box-sizing: border-box;
}

/* line 6, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/base/_reset.scss */
body {
  position: relative;
  margin: 0;
  padding-top: 120px;
  padding-bottom: 6rem;
  min-height: 100%;
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/base/_footer.scss */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_navbar.scss */
.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* line 9, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_navbar.scss */
.fa-stack[data-count]:after {
  position: absolute;
  right: 10%;
  top: 10%;
  content: attr(data-count);
  font-size: 30%;
  padding: .6em;
  border-radius: 999px;
  line-height: .75em;
  color: white;
  background: rgba(255, 0, 0, 0.85);
  text-align: center;
  min-width: 2em;
  font-weight: bold;
}

@media (min-width: 768px) {
  /* line 2, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_searchbar.scss */
  .searchbar {
    width: 50% !important;
  }
}

/* line 7, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_searchbar.scss */
.searchbar {
  width: 100%;
  display: flex;
  position: relative;
  margin-right: auto !important;
  margin-left: auto !important;
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_navbarProfile.scss */
.navbarProfile-menu {
  top: 1.5rem !important;
  left: -2rem !important;
}

/* line 4, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_navbarProfile.scss */
.navbarProfile-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -14px;
  right: 4px;
  z-index: 10;
}

/* line 16, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_navbarProfile.scss */
.ViewProfileOption {
  margin-top: 7px;
}

/* line 20, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_navbarProfile.scss */
.RequestLogin {
  padding-top: 10px;
  padding-left: 3px;
}

/* line 25, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_navbarProfile.scss */
.navbarProfilePic {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: .25rem;
  margin-right: .25rem;
  background-color: white;
}

@media (max-width: 992px) {
  /* line 38, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_navbarProfile.scss */
  .navbarProfile-menu:before {
    right: 55px;
  }
}

@media (max-width: 530px) {
  /* line 44, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_navbarProfile.scss */
  .dropdown.show {
    position: static;
  }
  /* line 47, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_navbarProfile.scss */
  .navbarProfile-menu {
    left: 0 !important;
  }
  /* line 49, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_navbarProfile.scss */
  .navbarProfile-menu:before {
    right: 80px;
  }
  /* line 53, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_navbarProfile.scss */
  .navbarProfile-menu-content {
    width: 100%;
  }
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
.dropdown > a:focus {
  color: white;
}

/* line 5, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
.dropdownHeading {
  background-clip: padding-box;
  background-color: #fff;
  border-bottom: solid 1px #dddfe2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  z-index: 100;
  width: 100%;
  text-align: center;
}

/* line 17, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
.notification-menu {
  top: 1.5rem !important;
  left: -6.5rem !important;
}

/* line 20, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
.notification-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -14px;
  right: 57px;
  z-index: 10;
}

/* line 32, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
.notification-menu-content > ul > .dropdown-divider, .notification-menu > .dropdown-divider {
  margin: 0;
}

/* line 36, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
.notification-unread {
  background: #ebebeb;
}

/* line 40, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
.notification-menu-content {
  height: auto;
  max-height: 400px;
  width: 400px;
  overflow-x: hidden;
}

/* line 42, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
.notification-menu-content > ul > li.media {
  padding: 7px 0px;
}

/* line 45, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
.notification-menu-content > ul > li > .media-body > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* line 56, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
.notification-menu-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/* line 61, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
.notification-menu-content::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

/* line 65, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
.notification-menu-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #777777;
}

/* line 72, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
.notificationPic {
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: .25rem;
  margin-right: 1rem;
}

/* line 83, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
.NotiTitle {
  font-size: 17px;
  margin: 0;
  margin-top: 7px;
}

/* line 89, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
.NotiNo {
  text-align: center;
  color: gray;
  padding-top: 10px;
}

@media (max-width: 992px) {
  /* line 96, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
  .notification-menu:before {
    right: 105px;
  }
}

@media (max-width: 530px) {
  /* line 102, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
  .dropdown.show {
    position: static;
  }
  /* line 105, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
  .notification-menu {
    left: 0 !important;
  }
  /* line 107, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
  .notification-menu:before {
    right: 145px;
  }
  /* line 111, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
  .notification-menu-content {
    width: 100%;
  }
  /* line 114, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/navbar/_notification.scss */
  .notificationPic {
    width: 50px;
    height: 50px;
    align-self: center !important;
  }
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_lineClamp.scss */
.block-with-text {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
}

/* line 10, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_lineClamp.scss */
.block-with-text:after {
  content: '...';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 50%;
  display: block;
  position: absolute;
  height: calc(1em * 1.2);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 75%);
}

@supports (-webkit-line-clamp: 1) {
  /* line 24, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_lineClamp.scss */
  .block-with-text:after {
    display: none !important;
  }
}

/* line 29, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_lineClamp.scss */
.line-clamp-1 {
  -webkit-line-clamp: 1;
  height: calc(1em * 1.2 * 1);
}

/* line 34, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_lineClamp.scss */
.line-clamp-2 {
  -webkit-line-clamp: 2;
  height: calc(1em * 1.2 * 2);
}

/* line 39, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_lineClamp.scss */
.line-clamp-3 {
  -webkit-line-clamp: 3;
  height: calc(1em * 1.2 * 3);
}

/* line 44, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_lineClamp.scss */
.line-clamp-4 {
  -webkit-line-clamp: 4;
  height: calc(1em * 1.2 * 4);
}

/* line 49, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_lineClamp.scss */
.line-clamp-5 {
  -webkit-line-clamp: 5;
  height: calc(1em * 1.2 * 5);
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_addtag.scss */
#tagfield {
  height: 100px;
  width: 500px;
  border: solid 1px black;
}

/* line 7, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_addtag.scss */
.tag.label.label-info {
  background: #66ccff;
  padding: 2px 4px 4px 4px;
  border-radius: 5px;
  color: white;
}

/* line 14, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_addtag.scss */
#EnterQuantity {
  border: 1px solid black;
  border-collapse: collapse;
}

/* line 17, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_addtag.scss */
#EnterQuantity tr, #EnterQuantity th, #EnterQuantity td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* line 21, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_addtag.scss */
#EnterQuantity tr td {
  padding: 1px 4px 1px 1px;
}

/* line 23, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_addtag.scss */
#EnterQuantity tr td:first-child {
  padding: 1px 10px;
}

/* line 29, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_addtag.scss */
#StoreTable {
  height: 300px;
  width: 500px;
  overflow: scroll;
}

/* line 35, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_addtag.scss */
.Qtablecell {
  border: 0px;
  text-align: right;
  width: 100px;
  min-width: 100%;
  margin: 1px;
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_cartButtons.scss */
.RefreshThis, .DeleteCurrentItem {
  color: blue;
}

/* line 4, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_cartButtons.scss */
.RefreshThis:hover, .DeleteCurrentItem:hover {
  cursor: pointer;
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_imgPreview.scss */
.thumbnail {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin-right: 3px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 11, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_imgPreview.scss */
.ThumnailCover {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s;
}

/* line 17, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_imgPreview.scss */
.ThumnailCover:hover {
  opacity: 1;
}

/* line 22, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_imgPreview.scss */
.DeleteNewImg, .DeleteOldImg {
  position: relative;
  float: right;
  right: 7px;
  top: 5px;
  cursor: pointer;
  color: #d2d2d2;
  font-size: 25px;
}

/* line 32, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_imgPreview.scss */
.DeleteNewImg:hover, .DeleteOldImg:hover {
  color: white;
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_magnifier.scss */
figure.zoom {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 500px;
  overflow: hidden;
  cursor: zoom-in;
}

/* line 7, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_magnifier.scss */
figure.zoom div {
  transition: opacity .5s;
  display: block;
}

/* line 8, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_magnifier.scss */
figure.zoom div:hover {
  opacity: 0;
}

/* line 2, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_productSlider.scss */
#myCarousel .list-inline {
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
}

/* line 7, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_productSlider.scss */
#myCarousel .carousel-indicators {
  position: static;
  left: initial;
  width: initial;
  margin-left: initial;
}

/* line 12, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_productSlider.scss */
#myCarousel .carousel-indicators > li {
  width: initial;
  height: initial;
  text-indent: initial;
}

/* line 16, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_productSlider.scss */
#myCarousel .carousel-indicators > li.active img {
  opacity: 0.7;
}

/* line 23, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_productSlider.scss */
.sliderSelector {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 5px solid #ddd;
  /* Gray border */
  border-radius: 4px;
  /* Rounded border */
  margin-left: .25rem;
  margin-right: .25rem;
}

/* line 38, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_productSlider.scss */
.sliderContainer {
  width: 1200px;
  height: 480px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  min-height: 100%;
}

/* line 47, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_productSlider.scss */
figure.sliderContainer {
  position: absolute;
}

/* line 51, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_productSlider.scss */
.sliderImage {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_ratingStar.scss */
fieldset, label {
  margin: 0;
  padding: 0;
}

/* line 6, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_ratingStar.scss */
body {
  margin: 20px;
}

/* line 10, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_ratingStar.scss */
#rateYo {
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  float: left;
}

/* line 17, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_ratingStar.scss */
#rateYo2 {
  margin: auto;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  text-align: center;
}

/****** Style Star Rating Widget *****/
/* line 27, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_ratingStar.scss */
.rating {
  border: none;
}

/* line 30, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_ratingStar.scss */
.rating > input {
  display: none;
}

/* line 33, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_ratingStar.scss */
.rating > label:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

/* line 40, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_ratingStar.scss */
.rating > .half:before {
  content: "\f089";
  position: absolute;
}

/* line 44, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_ratingStar.scss */
.rating > label {
  color: #ddd;
  float: right;
}

/* line 48, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_ratingStar.scss */
.rating > input:checked ~ label {
  color: #FFD700;
}

/* line 52, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_ratingStar.scss */
.rating:not(:checked) > label:hover {
  color: #FFD700;
}

/* line 54, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_ratingStar.scss */
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

/* line 60, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_ratingStar.scss */
.rating > input:checked + label:hover, .rating > input:checked ~ label:hover {
  color: #FFED85;
}

/* line 64, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_ratingStar.scss */
.rating > label:hover ~ input:checked ~ label, .rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

/***** CSS Magic to Highlight Stars on Hover *****/
/* hover previous stars in list */
/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_textEditor.scss */
#TextEditor {
  width: 500px;
  height: 500px;
  padding: 5px;
}

/* line 8, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/modules/_textEditor.scss */
#TextEditor * {
  margin: 0px;
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
.card {
  margin-bottom: 1em;
}

/* line 5, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
.card-divider {
  height: 0;
  margin: 0 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

/* Sidebar */
/* line 14, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
.sidebarContainer {
  position: fixed !important;
  height: 100%;
  top: 0;
  z-index: -1;
}

/* line 21, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
#sidebar {
  padding: 120px 0 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  padding-left: 0;
  padding-right: 0;
}

/* line 28, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
#sidebar .nav {
  margin-bottom: 20px;
}

/* line 31, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
#sidebar .nav-item {
  width: 100%;
}

/* line 33, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
#sidebar .nav-item + .nav-item {
  margin-left: 0;
}

/* line 37, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
#sidebar .nav-link {
  border-radius: 0;
  color: #ffffff;
}

/* Notification Detail Panel */
/* line 45, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
.notificationDetail-panel-content {
  padding-right: 1.25rem;
}

/*Notification Panel */
/* line 51, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
.notification-panel-content {
  min-height: 400px;
  max-height: 400px;
  overflow-x: hidden;
}

/* line 52, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
.notification-panel-content > ul > li {
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

/* line 53, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
.notification-panel-content > ul > li > .media-body > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* line 62, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
.notification-panel-content > ul > li:hover {
  background: #cacaca;
}

/* line 71, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
.notificationDetail-panel-content {
  min-height: 400px;
  max-height: 400px;
  overflow-x: hidden;
}

/* line 77, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
.notification-panel-content::-webkit-scrollbar-track, .notificationDetail-panel-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/* line 83, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
.notification-panel-content::-webkit-scrollbar, .notificationDetail-panel-content::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

/* line 88, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
.notification-panel-content::-webkit-scrollbar-thumb, .notificationDetail-panel-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #777777;
}

/* line 94, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
.notificationPic {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: .25rem;
  margin-right: .25rem;
}


/* line 94, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
.notificationDetail-panel-Pic {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: .25rem;
  margin-right: .25rem;
}


/* line 105, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
.notification-selected {
  background: #cacaca;
}

@media screen and (max-height: 450px) {
  /* line 110, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
  .sidenav {
    padding-top: 15px;
  }
  /* line 112, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_dashboard.scss */
  .sidenav a {
    font-size: 18px;
  }
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_item.scss */
.shortimg {
  height: 180px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 8, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_item.scss */
#BtnWishList, #additem {
  cursor: pointer;
  color: white;
}

/* line 13, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_item.scss */
.blocked {
  border: 2px solid red;
}

/* line 17, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_item.scss */
.curPage {
  font-weight: bold;
  font-size: 16px;
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
#loginregisterblur {
  background-image: url("../img/image1.jpg");
  background-repeat: no-repeat;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 17, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregistera {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

/* line 22, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregistera:hover {
  color: #E93838;
}

/* line 27, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregisterlogo {
  padding: 30px;
  text-align: center;
}

/* line 32, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregisterform {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  margin-top: -10px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

/* line 42, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.singclick.active a {
  background: #E93838;
  color: #ffffff;
}

/* line 47, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregistertab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

/* line 51, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregistertab-group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 56, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregistertab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.4);
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  border-radius: 1px;
}

/* line 70, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregistertab-group li a:hover {
  background: #E93838;
  color: #ffffff;
}

/* line 75, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregistertab-group .active a {
  background: #F34C4C;
  color: #ffffff;
}

/* line 81, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregistertab-content > div:last-child {
  display: none;
}

/* line 85, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregisterh1 {
  text-align: center;
  color: transparent;
  font-weight: 300;
  margin-top: -23px;
}

/* line 92, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregisterlabel {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

/* line 103, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregisterlabel .req {
  margin: 2px;
  color: #E93838;
}

/* line 107, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregisterlabel.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

/* line 112, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregisterlabel.active .req {
  opacity: 0;
}

/* line 116, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregisterlabel.highlight {
  color: #000000;
}

/* line 121, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregisterinput {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #000000;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

/* line 134, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregisterinput:focus {
  outline: 0;
  border-color: #1ab188;
}

/* line 140, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregistertextarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

/* line 141, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregistertextarea:focus {
  outline: 0;
  border-color: #1ab188;
}

/* line 149, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregisterfield-wrap {
  position: relative;
  margin-bottom: 40px;
}

/* line 155, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregistertop-row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 160, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregistertop-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

/* line 164, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregistertop-row > div:last-child {
  margin: 0;
}

/* line 170, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregisterbutton {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 13px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #F34C4C;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

/* line 184, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregisterbutton:hover, .loginregisterbutton:focus {
  background: #E93838;
}

/* line 189, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregisterbutton-block {
  display: block;
  width: 100%;
}

/* line 194, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_loginregister.scss */
.loginregisterforgot {
  margin-top: -20px;
  text-align: right;
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_receipt.scss */
.shoplogo {
  height: 100px;
  width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  float: right;
}

/* line 9, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_receipt.scss */
.receiptBorder {
  display: block;
  border: none;
  height: 3px;
  background-color: #000;
}

/* line 16, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_receipt.scss */
.receiptHeading > div > h5 {
  font-size: 1em;
  font-weight: bold;
}

/* line 21, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_receipt.scss */
.invoiceTotal h5 {
  font-weight: 700;
}

/* line 25, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_receipt.scss */
.itemDetail p {
  margin-bottom: 0;
}

@media print {
  /* line 30, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_receipt.scss */
  body {
    visibility: hidden !important;
  }
  /* line 33, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_receipt.scss */
  footer, nav {
    display: none !important;
  }
  /* line 36, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_receipt.scss */
  .receipt {
    visibility: visible !important;
  }
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_shoppingCart.scss */
.no-item {
  position: relative;
  min-height: 50vh;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.card {
  margin-bottom: 1em;
}

/* line 5, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.card-divider {
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

/* line 12, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.profileEditbtn, .profileSavebtn {
  text-decoration: none;
  margin-left: auto;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
  cursor: pointer;
}

/* line 36, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.NG {
  cursor: default;
  background-color: #dddddd;
}

/* line 42, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.profileEditbtn:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  text-decoration: none;
}

/* line 48, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.profileEditbtn:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  text-decoration: none;
}

/* line 54, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.profilePic {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100px;
  margin-top: 1em;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/* line 68, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.sideprofile {
  text-align: center;
}

/* line 70, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.sideprofile > .userDetails > div > div {
  text-align: right !important;
}

/* line 73, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.sideprofile .row {
  margin-bottom: 1rem;
}

/* line 76, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.sideprofile p, .sideprofile label {
  padding: 0;
  margin-bottom: 0 !important;
}

/* line 80, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.sideprofile li:hover {
  background-color: #222;
  color: #fff;
}

.comment-pic {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 40px;
}

/* line 84, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.EditSaveProfileImage {
  display: inline-block;
  opacity: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s;
  border-radius: 50%;
  cursor: pointer;
}

/* line 97, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.LoadingProfileImage {
  display: inline-block;
  opacity: 1;
  width: 100%;
  height: 100%;
  line-height: 200px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s;
  border-radius: 50%;
  cursor: pointer;
}


/* line 110, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.EditSaveProfileImage:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

/* line 115, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.EditSaveProfileImageI {
  position: absolute;
  top: 70px;
  left: 75px;
  color: white;
}

/* line 122, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.ShopClosed {
  text-align: center;
}

/* line 125, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.ShopClosed > h1 {
  margin-bottom: 20px;
}

/* line 128, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.ShopClosed > img {
  height: 400px;
  width: 400px;
}

/* line 135, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.OpenANewShop {
  text-decoration: none;
  padding: 10px;
  color: white !important;
  background-color: #007bff;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px;
}

/* line 145, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_userProfile.scss */
.EditProfileDetail {
  width: 100%;
  height: 150px;
  resize: vertical;
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_purchaseHistory.scss */
.dropdown-item {
  width: auto !important;
}

/* line 5, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_purchaseHistory.scss */
.orderPlaced, .inProgress, .shipped, .delived, .completed {
  position: absolute;
  margin-top: -10px;
  z-index: 1;
  height: 40px;
  width: 40px;
  border-radius: 25px;
}

/* line 12, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_purchaseHistory.scss */
.orderPlaced i, .inProgress i, .shipped i, .delived i, .completed i {
  margin-top: 5px;
  color: #FFFFFF;
}

/* line 17, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_purchaseHistory.scss */
.orderPlaced {
  left: 2%;
}

/* line 20, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_purchaseHistory.scss */
.inProgress {
  left: 22%;
}

/* line 23, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_purchaseHistory.scss */
.shipped {
  left: 44%;
}

/* line 26, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_purchaseHistory.scss */
.delived {
  left: 66%;
}

/* line 29, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_purchaseHistory.scss */
.completed {
  left: 90%;
}

/* line 33, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_purchaseHistory.scss */
.no-color {
  background-color: inherit;
}

/* line 37, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_purchaseHistory.scss */
.progressbarLabel {
  margin-bottom: 10px;
}

/* line 39, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_purchaseHistory.scss */
.progressbarLabel .orderPlacedLabel {
  position: absolute;
  left: 0%;
}

/* line 43, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_purchaseHistory.scss */
.progressbarLabel .inProgressLabel {
  position: absolute;
  left: 20%;
}

/* line 47, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_purchaseHistory.scss */
.progressbarLabel .shippedLabel {
  position: absolute;
  left: 44%;
}

/* line 51, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_purchaseHistory.scss */
.progressbarLabel .delivedLabel {
  position: absolute;
  left: 66%;
}

/* line 55, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/pages/_purchaseHistory.scss */
.progressbarLabel .completedLabel {
  position: absolute;
  left: 85%;
}

/*
 * bootstrap-tagsinput v0.8.0
 * 
 */
/* line 7, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/bootstrap-tagsinput/_bootstrap-tagsinput-typeahead.scss */
.twitter-typeahead .tt-query {
  margin-bottom: 0;
}

/* line 10, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/bootstrap-tagsinput/_bootstrap-tagsinput-typeahead.scss */
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
  display: none;
}

/* line 16, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/bootstrap-tagsinput/_bootstrap-tagsinput-typeahead.scss */
.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  cursor: pointer;
}

/* line 38, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/bootstrap-tagsinput/_bootstrap-tagsinput-typeahead.scss */
.tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

/* line 46, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/bootstrap-tagsinput/_bootstrap-tagsinput-typeahead.scss */
.tt-suggestion:hover, .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

/* line 1, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/bootstrap-tagsinput/_bootstrap-tagsinput.scss */
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}

/* line 13, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/bootstrap-tagsinput/_bootstrap-tagsinput.scss */
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

/* line 24, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/bootstrap-tagsinput/_bootstrap-tagsinput.scss */
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}

/* line 28, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/bootstrap-tagsinput/_bootstrap-tagsinput.scss */
.bootstrap-tagsinput.form-control input:-ms-input-placeholder, .bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}

/* line 32, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/bootstrap-tagsinput/_bootstrap-tagsinput.scss */
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}

/* line 36, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/bootstrap-tagsinput/_bootstrap-tagsinput.scss */
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}

/* line 39, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/bootstrap-tagsinput/_bootstrap-tagsinput.scss */
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}

/* line 42, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/bootstrap-tagsinput/_bootstrap-tagsinput.scss */
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}

/* line 46, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/bootstrap-tagsinput/_bootstrap-tagsinput.scss */
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 48, C:/Users/USER/Documents/GitHub/IP-Design-Draft/scss/bootstrap-tagsinput/_bootstrap-tagsinput.scss */
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/*# sourceMappingURL=../css/main.map */