.profileEditbtn, .profileSavebtn {
  text-decoration: none;
  margin-left: auto;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
  cursor: pointer;
}

.NG {
  cursor: default;
  background-color: #dddddd;
}

.profileEditbtn {
  &:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    text-decoration: none;
  }
  &:focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
    text-decoration: none;
  }
}

.profilePic {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100px;
  margin-top: 1em;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.sideprofile {
  text-align: center;
  > .userDetails > div > div {
    text-align: right !important;
  }
  .row {
    margin-bottom: 1rem;
  }
  p, label {
    padding: 0;
    margin-bottom: 0 !important;
  }
  li:hover {
    background-color: #222;
    color: #fff;
  }
}

.notification-panel-content {
  > ul > li > .media-body > p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    &:hover {
      overflow: visible;
      display: block;
    }
  }
  min-height: 400px;
  max-height: 400px;
  overflow-x: hidden;
}

.activity-log-content {
  min-height: 400px;
  max-height: 400px;
  overflow-x: hidden;
}

.notification-panel-content::-webkit-scrollbar-track, .activity-log-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.notification-panel-content::-webkit-scrollbar, .activity-log-content::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.notification-panel-content::-webkit-scrollbar-thumb, .activity-log-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #777777;
}

.notification-panel-Pic {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: .25rem;
  margin-right: .25rem;
}

.reported-notice {
  background-color: #dc3545 !important;
  color: #fff !important;
}

.comment-pic {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 40px;
}

.EditSaveProfileImage {
  display: inline-block;
  opacity: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s;
  border-radius: 50%;
  cursor: pointer;
}

.LoadingProfileImage {
  display: inline-block;
  opacity: 1;
  width: 100%;
  height: 100%;
  line-height: 200px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s;
  border-radius: 50%;
  cursor: pointer;
}

.EditSaveProfileImage:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.EditSaveProfileImageI {
  position: absolute;
  top: 70px;
  left: 75px;
  color: white;
}

.ShopClosed {
  text-align: center;
  > {
    h1 {
      margin-bottom: 20px;
    }
    img {
      height: 400px;
      width: 400px;
    }
  }
}

.OpenANewShop {
  text-decoration: none;
  padding: 10px;
  color: white !important;
  background-color: #007bff;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px;
}

.EditProfileDetail {
  width: 100%;
  height: 150px;
  resize: vertical;
}