.no-item {
	position:relative;
	min-height:50vh;
	text-align: center;
    color: white;
}

.no-item::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('http://pm1.narvii.com/6399/6dd45e1a5b649c74d786f75f261134f6c3f46005_hq.jpg');
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}