.creditCardList {
    white-space:nowrap;
	overflow:auto;
	overflow-y: hidden;
	.creditCard {
		width:200px; 
		height:120px;
		cursor:pointer;
		border: 2px solid #ddd;
		border-radius: 4px;
		margin-left: .25rem;
		margin-right: .25rem;
		float:left;
		text-align: center;
		vertical-align: bottom;
		color: #343a40;
	}
	.addCreditCard {
		@extend .creditCard;
		line-height: 140px;
		background-color: #aaaaaa;
		color:white;
	}
}