.card {
  margin-bottom: 1em;
}

.card-divider {
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -25px;
    right: -25px;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

.o-hidden{
	overflow: hidden;
}

.selectedCard {
	position:relative;
	&::before, &::after {
		content:"";
		position: absolute;
		top: 0;
		right: 0;
		border-color: transparent;
		border-style: solid;
	}
	&::before {
		border-right-color: #ccc;
		border-top-color: #ccc;
	}
	&::after {
		border-width: 1.35em;
		border-right-color: #0c0;
		border-top-color: #0c0;
	}
}