.thumbnail {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin-right: 3px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.ThumnailCover {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s;
  &:hover {
    opacity: 1;
  }
}

.DeleteNewImg, .DeleteOldImg {
  position: relative;
  float: right;
  right: 7px;
  top: 5px;
  cursor: pointer;
  color: rgba(210, 210, 210, 1);
  font-size: 25px;
}

.DeleteNewImg:hover, .DeleteOldImg:hover {
  color: white;
}